/* App.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}


.coloredText {
  color: '#ED333B';
}

.header > button {
  width: 25%;
  height: 100%;
  color: rgb(0, 0, 0);
  border: none;
  background-color: black;
  cursor: pointer;
}

.header > button:hover {
  background-color: #333;
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 0 20px; */
  height: 100vh;
}
#icon {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

button {
  background-color: #2d2d2d;
  color: #f2f2f2;
  font-family: 'monospace';
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f2f2f2;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
}
.card-container .card-background {
  background-color: #8c1010;
}
input {
  font-family: 'monospace';
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
}

.form-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.align-right {
  display: flex;
  justify-content: right;
}
.card-container::-webkit-scrollbar {
  width: 1px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: #4f0404;
  border-radius: 1px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #100101;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}